{% extends "frame.html" %}

{% block content %}
<section class="hero is-bold is-dark is-fullheight">
<div class="hero-body">
	<div class="container">
	<div class="columns is-centered">
        <div class="column">
            <label class="title has-text-centered">会員登録</label>
            <hr>
            <br>
            <p>
                入力いただいたメールアドレスに登録完了用リンクを送信します。<br>
                リンクをクリックすることで登録が完了したします。
            </p>
        </div>
		<div class="column is-three-fifths">
			<form action="" class="box" method="POST">
                {% csrf_token%}
                {% for field in form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        <div class="control has-icons-left">
                            <!--icon-->
                            <span class="icon is-left">
                            {% if "password" in field.name %}
                                <i class="fa fa-lock"></i>
                            {% elif field.name == "company_id" %}
                                <i class="fas fa-id-card"></i>                                
                            {% elif field.name == "username" %}
                                <i class="fa fa-user"></i>
                            {% elif field.name == "email" %}  
                                <i class="fa fa-envelope"></i>
                            {% endif %}
                        </span>
                            <!-- form input-->
                            {{ field }}
                        </div>
                        
                        {% for error in field.errors %}
                        <p class="help is-danger">
                            {{ error }}
                        </p>
                        {% endfor %}
                    </div>
                {% endfor %}

                {% for error in form.non_field_errors %}
                <p class="help is-danger">{{ error }}</p>
                {% endfor %}

                <div class="field">
                    <button class="button is-info is-fullwidth" type=submit>
                    　Send
                    </button>
                </div>
            </form>

		</div>
	</div>
	</div>
</div>
</section>

{% endblock %}