{% extends "main_frame.html" %}
{% block content %}
<div class="has-text-centered has-text-weight-medium">
<h1 class="title">HiCommってなに？</h1>
<hr>
<p>
    知見をさくっとアウトプットして、忘れても読めば思い出すようにしたい！<br>
    社内で困ったとき、過去の上手くいった事例参照したい！ or 強いマンに気軽に助けを求めたい！<br>
    <br>
    そんな人向けの、知識と人をつなげるサービスです。
</p>
<hr>
<h2 class="subtitle has-text-info">社内で同じようなことをやっている人、いないかな？（案外いる）</h2>
<p></p>

<h2 class="subtitle">「先輩に基本的なところから説明してもらうわけにはい」</h2>
<p>

<br>
でも、ベテランからすれば、<br>
<br>
wordでインデントのズレを気にしながら技術報告書を書くのは大変ですよね。<br>
社内勉強会で共有した知見も、後輩たちや別の部署の人に共有するとなると繰り返す必要があって面倒ですよね。<br>
<br>
That's why HiComm exists.
</p>
<br>
<hr>

<br>
<p>
HiCommは初心者の強い味方、StackOverflow、Qiita、Yahoo知恵袋、Teratailの社内版を想定しています。<br>
<br>
誰でも閲覧、検索できます。（予定）<br>
投稿にはアカウント登録が必要です。(コンテンツの編集・管理のため)
</p>
<br>
<hr>
<p>
HiCommで快適なナレッジマネジメントをして、クリエイティブな会社生活を送りましょう！<br>
</p>
<br>
<div class="column">
    <a href="{% url 'account_manager:register' %}">
        <button class="button is-success">Sign Up</button>
    </a>
</div>

</div>

{% endblock %}