{% extends "main_frame.html" %}
{% block title %}
About | {{ block.super }}
{% endblock title %}

{% block content %}
<div class="has-text-centered has-text-weight-medium">
<h1 class="title">HiCommってなに？</h1>
<hr>
<h2 class="subtitle has-text-info">理念</h2>
<p>
    知見をさくっとアウトプットして、忘れても読めば思い出すようにしたい。<br>
    社内で困ったとき、過去の上手くいった事例参照したい。<br>
    強いマンに気軽に助けを求めたい！<br>
    <br>
    そんな人向けの、知識と人をつなげるサービスです。
</p>
<hr>
<h2 class="subtitle has-text-info">社内で同じようなことをやっている人、いないかな？</h2>
<p>
    googleで検索しても、コピペ業者サイトやアフィブログばかりヒットする・・・😢<br>
    残念になってしまった現代で信頼できるのは<strong>社内の人たち</strong>しかいません！<sup><a title="諸説あります"">※</a></sup><br>
    <br>
    ノウハウの宝庫の技術報告書、欲しい情報はそこにあるのです。<br>
    でも検索性がひどいですよね・・・？<br>
    <br>
    勉強会の知見も、わざわざドキュメント化するのは大変ですよね😥<br>
    <br>
    <strong>HiComm</strong>におまかせください😁
</p>
<br>
<hr>
<br>
<h2 class="subtitle has-text-info">ぶっちゃけ</h2>
<p>
    HiCommは初心者の強い味方、<br>
    StackOverflow、Qiita、Yahoo知恵袋、Teratail、・・・<br>
    の社内版を想定して作られました。<sup><a title="Qiita Teams入れたらええんちゃう">※</a></sup><br><br>
    <br>
    誰でも閲覧、検索できます。<br>
    編集・削除の限定のため、投稿には👇アカウント登録👇が必要です。
</p>
<br>
<hr>
<p>
HiCommで快適なナレッジマネジメントをして、クリエイティブな会社生活を送りましょう！<br>
</p>
<br>
<div class="column">
    <a href="{% url 'account_manager:register' %}">
        <button class="button is-success">Sign Up</button>
    </a>
</div>
</div>

{% endblock %}