{% extends "main_frame.html" %}
{% block title %}
{{item.title }} - 質問 | {{ block.super }}
{% endblock title %}

{% block content %}

<!-- 質問内容 -->
<section class="hero has-background-light">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-1" style="border-right: solid 1px #888;">
                {% if item.is_solved %}
                    <span class="hicomm-solved">解決済</span>
                {% else %}
                    <span class="hicomm-notsolved">受付中</span>
                {% endif %}
                <br>
                <p class="icon-text is-size-3" style="color: darkgoldenrod;">
                    <i class="fal fa-lightbulb-on"></i><span id="id_value_good_{{item.uuid}}"> {{ item.point_good }}</span>
                </p>
                <small>{{ item.date_published }}</small>
            </div>
            <div class="column">
                <p class="title">
                    {{ item.title }}
                </p>


                <div class="tags">
                    <span class="tag is-warning">tag</span>
                    <span class="tag is-warning">tag</span>
                    <span class="tag is-warning">tag</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero-body">
    <div id = qtext class="hicomm_result_view">
        {{ item.body }}

    </div>
    <hr>
    <div class="level">
        <div class="level-left">
            <p class="level-item hicomm_button_respondent">
                {% if good_posted %}
                <button class="detail_question_button_pushed" id="id_good_question"><i class="fal fa-lightbulb-on"></i> 私も気になる</button>
                {% else %}
                <button class="detail_question_button" id="id_good_question"><i class="fal fa-lightbulb-on"></i> 私も気になる</button>
                {% endif %}
                
                {% if already_answered %}
                <button class="detail_question_button_pushed" id="id_button_input_answer">回答済</button>
                {% else %}
                <button class="detail_question_button" id="id_button_input_answer">回答する</button>
                {% endif %}
                
            </p>
            <p class="level-item has-text-danger is-small" id="id_emsg_question_button"></p>
        </div>
        <div class="level-right">
            <p class="level-item">
                written by:&nbsp;<a>{{ item.author.username }}</a>
                           
                <figure class="image is-32x32">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>  
            </p>
        </div>
    </div>
    
</section>

<!-- 回答入力部 -->
{% if  user.is_authenticated  %}
<div id=id_inputzone_answer class="columns" style="display: none;">
    <div class="column is-11 is-offset-1">
        <div id="editor">
            <textarea class="" id="id_body" onkeyup="markdown2html()"># hoge</textarea>
            <div class="hicomm_result_view" id="result_6efc3b09-3fc2-0a7a-8ca0-3c3c04b331fc"></div>
        </div>
        <nav class="level">
            <div class="level-left">

            </div>
            <div class="level-right">
                <button class="button is-large is-primary" id="id_button_post_answer">投稿する</button>
            </div>
        </nav>
    </div>
</div>
{% endif %}
<!-- 回答 -->
<section class="hero-body">
    <p class="title is-4 has-text-centered">回答　<strong class="has-text-danger">{{ answers|length }}</strong> 件</p>

    <!-- 回答本体 -->
    {% if answers %}
    <!-- ソート用のタブ -->
    <div class="tabs is-right">
        <ul>
          <li class="is-active"><a>Goodの多い順</a></li>
          <li><a>投稿の早い順</a></li>
          <li><a>あと何か</a></li>
        </ul>
    </div>
        {% for answer in answers %}
        <div class="card">        
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128" id="id_answer_left_{{answer.uuid}}">
                            <div class="box has-text-centered" {% if answer.is_BestAnswer %}style="background-color: #FDD"{% endif %}> 
                                <p class="subtitle is-4 has-text-weight-bold is-family-primary icon-text" >
                                    <span class="icon"><i class="far fa-thumbs-up"></i></span>
                                    <span id="id_a_value_good_{{answer.uuid}}">{{ answer.point_good }}</span> 
                                </p>
                            </div>
                            {% if answer.is_BestAnswer %}
                            <p class="tag is-danger"><i class="fas fa-award"></i>　ベストアンサー</p>
                            {% endif %}
                        </figure>
                    </div>
                    <div class="media-content atexts hicomm_result_view">
                        {{ answer.body }}
                    </div>
                </div>

                <div>
                    <hr>
                    <div class="level">
                        <div class="level-left">
                            <p class="level-item hicomm_button_respondent">
                                <button class="detail_question_button{% if user in answer.good_posted_by.all %}_pushed{% endif %} cls_good_answer" key="{{answer.uuid}}">+ Good</button>
                                <button class="detail_question_button">コメント</button>
                            
                            {% if item.author.username ==  request.user.username %}
                                {% if item.is_solved %}
                                    {% if answer.is_BestAnswer %}
                                        <button class="detail_question_button_pushed cls_set_bestanswer" key="{{answer.uuid}}">ベストアンサー</button>
                                    {% endif %}
                                {% else %}
                                    <button class="detail_question_button cls_set_bestanswer" key="{{answer.uuid}}">ベストアンサーにする</button>
                                {% endif %}
                            {% endif %}
                            </p>
                            <p class="cls_emsg_answer_button level-item has-text-danger is-small"></p>
                        </div>
                        
                        <div class="level-right">
                            <p class="level-item">
                                <small> {{answer.date_published}}</small>
                            </p>
                            <p class="level-item">
                                written by:&nbsp;<a>{{ answer.author.username }}</a>
                                <figure class="image is-32x32">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>  
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <br>
        {% endfor %}
    {% else %}
    <hr>
    <p> まだ回答はありません </p>
    {% endif %}

    <!-- 回答入力部 -->

</section>

<script>
    $(document).ready(function(){
        var qtext = document.getElementById('qtext');
        var atexts = document.getElementsByClassName("atexts")

        /* hilight.jsの例外処理 */
        qtext.innerHTML = qtext.innerHTML.replace(/```python3/g, "```python");

        /* templateで８spaceぶんのインデントがあるため */
        const txt = marked(qtext.innerHTML.substr(9));
        qtext.innerHTML = txt;

        /* answerでも同じ処理 */
        for(var i=0; i<atexts.length; ++i){
            atexts[i].innerHTML = marked(atexts[i].innerHTML.replace(/```python3/g, "```python").substr(25));
        }

        /* コードハイライトの適用 */
        var nodelist = document.querySelectorAll('pre code');
        var node = Array.prototype.slice.call(nodelist,0); 
        node.forEach(function(block){
            hljs.highlightElement(block);
        });
        /* bulmaのpreの背景色とかぶるので、それを無効にする */
        for(var i = 0; i<qtext.childElementCount; ++i){
            if(qtext.children[i].nodeName == "PRE"){
                qtext.children[i].setAttribute("style", "background-color: #FFF");
            }
        }
        for(var j = 0; j<atexts.length; ++j){
            for(var i = 0; i<atexts[j].childElementCount; ++i){
                if(atexts[j].children[i].nodeName == "PRE"){
                    atexts[j].children[i].setAttribute("style", "background-color: #FFF");
                }
            }
        }
        /* & -> &amp;の修正 */
        document.querySelectorAll("code").forEach(function(element) {
            element.innerHTML = element.innerHTML.replace(/&amp;/g, "&");
        });

        /* ボタン制御 */
        document.getElementById("id_good_question").addEventListener("click", function(){
            {% if  user.is_authenticated  %}

                this.className = "detail_question_button button is-loading"
                this.setAttribute("style", "pointer-events: none;");
                

                var element = this;
                $.ajax({
                    url: "{% url 'q_and_a:ajax_submit_good' %}",
                    headers: {"X-CSRFToken" : getCookie("csrftoken")},
                    method: "POST",
                    data: {
                        type: "question",
                        uuid: "{{ item.uuid }}",
                        user: "{{ request.user.username }}",
                    },
                    timeout: 5000,
                    contentType: "application/json",
                })
                .done(function(data){
                    $("#id_emsg_question_button")[0].innerText = ""
                    if(data.substr(0,3) == "02E"){
                        $("#id_value_good_{{item.uuid}}")[0].innerText = " " + data.substr(3);
                        element.className = "detail_question_button";
                        element.setAttribute("style", "pointer-events: auto");
                    }
                    else if(data.substr(0,3) == "01E"){
                        $("#id_value_good_{{item.uuid}}")[0].innerText = " " + data.substr(3);
                        element.className = "detail_question_button_pushed";
                        element.setAttribute("style", "pointer-events: auto");
                    }
                    else{
                        var msg = "";
                        switch(data){
                            case "same_person":
                                msg = "自分の投稿には適用できません。";
                                break;
                            case "error":
                                msg = "エラーが発生しました。";
                                break;
                            default:
                                break;
                        }
                        $("#id_emsg_question_button")[0].innerText = msg;
                        $("#id_emsg_question_button").fadeIn("fast", function(){$(this).delay(3000).fadeOut("fast")});
                        element.className = "detail_question_button{%if good_posted %}_pushed{%endif%}";
                        element.setAttribute("style", "pointer-events: auto");
                    }
                });

            {% else %}
                window.location.assign("{% url 'account_manager:login' %}");
            {% endif %}
            
        });

        $(".cls_good_answer").click(function(){
            {% if  user.is_authenticated  %}

                $(this)[0].className = "detail_question_button button is-loading";
                $(this).attr("style", "pointer-events: none;");
                var element = $(this);
                
                $.ajax({
                    url: "{% url 'q_and_a:ajax_submit_good' %}",
                    headers: {"X-CSRFToken" : getCookie("csrftoken")},
                    method: "POST",
                    data: {
                        type: "answer",
                        uuid: element.attr("key"),
                        user: "{{ request.user.username }}",
                    },
                    timeout: 5000,
                    contentType: "application/json",
                })
                .done(function(data){
                    $("#id_emsg_question_button")[0].innerText = ""
                    if(data.substr(0,3) == "02E"){
                        $("#id_a_value_good_" + element.attr("key"))[0].innerText = " " + data.substr(3);
                        element[0].className = "detail_question_button";
                        element.attr("style", "pointer-events: auto");
                    }
                    else if(data.substr(0,3) == "01E"){
                        $("#id_a_value_good_" + element.attr("key"))[0].innerText = " " + data.substr(3);
                        element[0].className = "detail_question_button_pushed";
                        element.attr("style", "pointer-events: auto");
                    }
                    else{
                        var msg = "";
                        switch(data){
                            case "same_person":
                                msg = "自分の投稿には適用できません。";
                                break;
                            case "error":
                                msg = "エラーが発生しました。";
                                break;
                            default:
                                break;
                        }
                        var errbox = element.parent().parent()[0].getElementsByClassName("cls_emsg_answer_button")[0];
                        errbox.innerText = msg;
                        $(errbox).fadeIn("fast", function(){$(this).delay(3000).fadeOut("fast")});

                        element[0].className = "detail_question_button";
                        element.attr("style", "pointer-events: auto");
                    }
                });

            {% else %}
                window.location.assign("{% url 'account_manager:login' %}");
            {% endif %}
            
        });

        $(".cls_set_bestanswer").click(function(){
            {% if  user.is_authenticated  %}

                $(this)[0].className = "detail_question_button button is-loading";
                $(this).attr("style", "pointer-events: none;");
                var element = $(this);
                $.ajax({
                    url: "{% url 'q_and_a:ajax_set_bestanswer' item.uuid %}",
                    headers: {"X-CSRFToken" : getCookie("csrftoken")},
                    method: "POST",
                    data: {
                        id: element.attr("key"),
                    },
                    timeout: 5000,
                    contentType: "application/json",
                })
                .done(function(data){
                    if(data == "OK1"){
                        element[0].className = "detail_question_button_pushed";
                        element.attr("style", "pointer-events: auto");
                        element[0].innerText = "ベストアンサー";
                        
                        var solved_label = $(".hicomm-notsolved")
                        solved_label[0].innerText = "解決済み"
                        solved_label.removeClass("hicomm-notsolved")
                        solved_label.addClass("hicomm-solved")

                        var ans_left = $("#id_answer_left_" + element.attr("key"))[0];
                        ans_left.children[0].setAttribute("style", "background-color: #FDD")

                        var p = document.createElement("p")
                        p.className = "tag is-danger";
                        p.innerHTML = '<i class="fas fa-award"></i>　ベストアンサー</p>';
                        ans_left.appendChild(p);
                    }else{
                        alert(data);
                        element[0].className = "detail_question_button";
                        element.attr("style", "pointer-events: auto");
                    }
                    
                    
                    
                });

            {% else %}
                window.location.assign("{% url 'account_manager:login' %}");
            {% endif %}
            
        });



        {% if already_answered %}
        $("#id_button_input_answer").css("pointer-events", "none");
        {% else %}
        $("#id_button_input_answer").click(function(){
            {% if  user.is_authenticated  %}

                if (this.className == "detail_question_button"){
                    this.className = "detail_question_button_pushed";
                    this.innerHTML = "回答をやめる";
                }else{
                    this.className = "detail_question_button";
                    this.innerHTML = "回答する";
                }
                
                $("#id_inputzone_answer").slideToggle("slow");
                
            {% else %}
            window.location.assign("{% url 'account_manager:login' %}");
            {% endif %}

        });
        {% endif %}

        $("#id_button_post_answer").click(function(){
            $.ajax({
                url: "{% url 'q_and_a:post_answer' item.uuid %}",
                headers: {"X-CSRFToken" : getCookie("csrftoken")},
                method: "POST",
                data: {
                    body: $("#id_body")[0].value
                },
                timeout: 5000,
                contentType: "application/json",
            })
            .done(function(data){
                if(data == "true"){        
                    location.reload();
                    window.scrollTo(0,0);
                }else{
                    alert(data);
                }
            });
        });
        
    });
</script>

{% endblock %}